.example-spacer {
  flex: 1 1 auto;
}
:host {
  height: 100%;
}
.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: space-between;
}
.main-container{
  background:
    linear-gradient(217deg, rgba(255,0,0,.7), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.7), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.7), rgba(0,0,255,0) 70.71%);
}
.question-answer{
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  mat-card {
    height: 120px;
  }
}
.answer-evaluation {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  column-gap: 50px;
  button {
    flex-grow: 1;
  }
}
