<mat-toolbar color="primary">
  <span>Memorizer</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<div>
  <mat-card>
    <mat-card-content>Question: as;fj asjk;sad asflsal;j sfda sas;aasl;</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>Answer: as;fj asjk;sad asflsal;j sfda sas;aasl;</mat-card-content>
  </mat-card>
</div>
<section>
  <div class="answer-evaluation">
    <button mat-raised-button>
      <mat-icon>repeat</mat-icon>
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>thumb_up</mat-icon></button>
  </div>
</section>

