<div class="main-container">
  <mat-toolbar color="primary">
    <span>Memorizer</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <section *ngIf="!curQuestion">
    <p>No questions-answer pairs are currently available. Please add some by importing a text file.</p>
  </section>
  <section *ngIf="curQuestion">
    <div class="question-answer" (click)="toggleAnswerVisible()">
      <mat-card>
        <mat-card-content>{{curQuestion}}</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>{{answerVisible ? curAnswer : ''}}</mat-card-content>
      </mat-card>
    </div>
    <div class="answer-evaluation">
      <button mat-raised-button (click)="onUnhappyClicked()">
        <mat-icon>repeat</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="onHappyClicked()">
        <mat-icon>thumb_up</mat-icon>
      </button>
    </div>
  </section>
  <hr>
  <section>
    <h2>Readme</h2>
    <div>
      <p>The aim of this small demo app is to practise question-answer pairs efficiently.
        The algorithm schedules the questions for you (1) per day and (2) over several days.
        Once you've answered a question satisfactorily 5x in a row
        (i.e. with other questions in between, but this answer you knew each time you've been asked),
        then it will be postponed for another day.
      </p>
      <p>Also the questions in the queue of this day will be asked less and less frequently,
        the more times you answered them correctly in a row. The number of days to postpone
        a question follows powers of 3
      </p>
    </div>
  </section>
  <hr>
  <section>
    <h2>developer section (GUI and UX improvements will (hopefully) follow soon...)</h2>
    <div>
      <p>import question-answer pairs from a *.txt file. Please write one pair per line and separate the question from the answer using the following separator: " --- "</p>
      <input type="file" (change)="importTxtFile($event)">
      <hr>
      <p>import/export app state</p>
      <button mat-raised-button (click)="exportAppState()">Export appState</button>
      <input type="file" (change)="importAppState($event)">
    </div>
  </section>
</div>


