<div class="main-container">
  <mat-toolbar color="primary">
    <span>Memorizer</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <section>
    <div class="question-answer" (click)="toggleAnswerVisible()">
      <mat-card>
        <mat-card-content>{{curQuestion}}</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>{{answerVisible ? curAnswer : ''}}</mat-card-content>
      </mat-card>
    </div>
  </section>

  <section>
    <div class="answer-evaluation">
      <button mat-raised-button (click)="onUnhappyClicked()">
        <mat-icon>repeat</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="onHappyClicked()">
        <mat-icon>thumb_up</mat-icon>
      </button>
    </div>
  </section>
  <hr>
  <section>
    <h2>developer section (GUI will follow...)</h2>
    <div>
      <button (click)="clearQueue()">clear queue</button>
<!--      <button (click)="importTxtFile()">import question-answer pairs from *.txt file</button>-->

      <p>Open a text file:</p>
      <input type="file" (change)="importTxtFile($event)">
      <p *ngIf="contents">Contents:</p>
      <pre>{{contents}}</pre>
      <hr>
      <p>Save a text file:</p>
      <button (click)="save()">Save</button>
    </div>
  </section>
</div>


